// video mixin
.video-mixin {
  .video-mixin__thumb {
    height: 140px;
    border-radius: 7px;
    width: 100%;
    background-color: ivory;
    background-size: cover;
  }
  .video-mixin__thumb img {
    height: 140px;
    border-radius: 7px;
    width: 100%;
    background-position: center;
  }
  .video-mixin__data {
    padding: 0px 10px;
    .video-mixin__title {
      font-size: 18px;
      margin-top: 10px;
      display: block;
    }
    .video-mixin__meta {
      font-size: 12px;
      margin-top: 6px;
    }
  }
}
