extends base
include mixins/video

block content 
    form.search__form(method="GET")
        input(name="keyword" placeholder="Search by title" type="text")
        button
            i.fas.fa-search
    
    div.video-grid
        each video in videos 
            +video(video)
        else    
            span.empty__message No videos found.